body {
    background-color: rosybrown;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0px;
    z-index: 10;
    background: #192e55;
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
}

header .search {
    position: relative;
    width: 300px;
    height: 30px;
}

header .search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    outline: none;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 20 px 0 45px;
}

header .search input::placeholder {
    color: #fff;
}

header .send {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    transform: translateY(-42%);
    right: -70px;
    left: 1640px;
    color: #000;
    border-right: 1px solid #fff;
    padding-right: 1px;
}

.navigation {
    float: left;
    font-size: 24px;
    margin-top: 0px;
    width: 750px;
}

.navigation li {
    border-right: 1px solid #9B9A9A;
    float: left;
    list-style: none outside none;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
}

.navigation li:last-child {
    border-right: none;
}

.navigation li a {
    color: #000000;
    text-decoration: none;
}

.navigation li a:hover {
    color: #9B9A9A;
    text-decoration: none;
}

.navigation .current a {
    color: #9B9A9A;
    text-decoration: none;
}

.navigation .current a:hover {
    color: #000000;
    text-decoration: none;
}

.menu li:last-child {
    border-right: none;
}


/*********************pie de pagina*****************/

* {
    box-sizing: border-box;
}

.footer {
    width: 1100px;
    background-color: #192e55;
    text-align: center;
    font-family: poppins;
    position: relative;
    padding: 25px;
    margin: 100px
}

.footer .piesito h3 {
    font-size: 38px;
    display: block;
    color: #fff;
    max-width: 850px;
    padding-bottom: 1px;
    border-bottom: #fff solid 1px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 30px;
}

.footer .piesito span {
    font-size: 17px;
    display: block;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.footer .piesito p {
    font-size: 17px;
    display: block;
    color: #fff;
    line-height: 30px;
}


/*********************fin de pie de pagina************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(imagenes/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 128, 255, 0.5);
}

.caja__trasera div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p {
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #46A2FD;
}


/*Formularios*/

.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }
    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }
    /*Formularios*/
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form {
        position: relative;
    }
}

.mensajeError {
    font-weight: bold;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mensajeOk {
    font-weight: bold;
    color: rgb(36, 88, 167);
    padding-top: 10px;
    padding-bottom: 10px;
}

.mensajeErrorSegundo {
    font-weight: bold;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}


/**********************Fin de Formulario**************/


/**********************COLUMNA DE TEXTO**************/

* {
    box-sizing: border-box;
}

.columna {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.columna .card {
    width: 330px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: darkgray;
}

.columna .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.columna .card img {
    width: 320px;
    height: 200px;
    padding: 10px;
}

.columna .card h3 {
    font-weight: 600;
    font-weight: bolder;
    color: black;
}

.columna .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-weight: bolder;
    color: teal;
}

.columna .card a {
    font-weight: bolder;
    text-decoration: none;
    color: #3498db;
}